name: CI/CD

on:
  pull_request:
    branches:
  push:
    branches:
      - "*"
    tags:
      - "*"
jobs:
  build-and-test:
    name: Buid and test application
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0
    steps:
      - uses: actions/checkout@v2
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
