name: Release

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release type"
        required: true
        default: patch
        type: choice
        options:
          - minor
          - major
          - patch

jobs:
  release:
    name: Release new version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install python dependencies
        run: |
          pip install GitPython
          pip install PyGithub
      - name: Configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"
      - name: Create new version tag and push it
        run: |
          python ./ci/release-tag.py ${{ secrets.GITHUB_TOKEN }} "${{ github.event.inputs.release-type }}"
